@import "./node_modules/tailwindcss/dist/utilities.css";

#webslides {
  color: #ffffff;
  background-color: #2b2b2b;
}

h1 {
  color: #CC7834;
}

h2 {
  color: #FFC765;
}

li {
  font-size: 125%;
  line-height: 200%;
}

li ul li {
  font-size: 80%;
}

.vh-80 {
  height: 80vh;
}

.right {
  text-align: right;
}

.title {
  padding-right: 48px;
}

.bottom {
  position: absolute;
  right: 96px;
  bottom: 96px;
}
